{
  "$schema": "https://www.schemastore.org/prettierrc.json",
  "semi": false,
  "printWidth": 120,
  "trailingComma": "all",
  "tabWidth": 2,
  "proseWrap": "always",
  "singleQuote": true,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": ["theme", "class", "className"],
  "tailwindFunctions": ["cn", "twMerge", "createTheme"],
  "overrides": [
    {
      "files": "*.mdc",
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
